
/* For Ag-grid with text and cell color */
.color-input{
  height: 40px;
  width: 60px;
}
.color-apply{
  width: 100px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  overflow-x: auto; /* Enables horizontal scrolling */
  width: 100%;
}

.color-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.table-wrapper {
  width: 100%;
  max-width: 1122px;
  height: 460px;
  overflow: auto; /* Allows scrolling */
  white-space: nowrap;
}

.export-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
}

.export-btn:hover {
  background-color: #0056b3;
}

.clashes{
  background-color: #eee;
  border-style: solid;
  padding: 10px;
  padding-right: 25px;
}
.clashes h3 {
  margin-bottom: 10px;
  text-align: center;
}

.export{
  display: flex;
  
}
.clashes ul {
  /* list-style-type: none; */
  /* padding: 0; */
  text-align: center;
}
