.upload-box {
    border: 2px dashed #4364f7;
    background: #f9f9ff;
    padding: 40px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
  }
  
  .upload-box:hover {
    background: #e3e7fd;
    border-color: #0052d4;
  }
  
  .upload-box p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .delete-button {
    background: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
  }
  
  .delete-button:hover {
    background: #cc0000;
  }
  