.bt {
    display: inline-block;
    width: 20%;
    padding: 12px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    background: linear-gradient(90deg, #0052d4, #4364f7);
    color: white;
    transition: all 0.3s ease;
  }